<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="AccountEndpoint={Fill_me}"/>
    <add key="DatabaseName" value="Geospatial"/>
    <add key="ContainerName" value="Nasa"/>
    <add key="FilePath" value="C:\Developments\azure-cosmosdb-geospatial\azure-cosmosdb-geospatial\DataFile\nasa_earth_meteorite_landings.json"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>
