<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="AccountEndpoint=https://jmi-demos.documents.azure.com:443/;AccountKey=iT4cSePM3kFtYglrcIhVOVWfhftxAskMP3kN8uYNEKjxZJ8GxkRioAnnGRlvcjXFsp9hNUsu4GsiByE9FwsjYg==;"/>
    <add key="DatabaseName" value="Geospatial"/>
    <add key="ContainerName" value="Nasa"/>
    <add key="FilePath" value="C:\Developments\azure-cosmosdb-geospatial\azure-cosmosdb-geospatial\DataFile\nasa_earth_meteorite_landings.json"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>